.bg-teal {
    background-color: #0d9488;
}


.icon-circle-hover {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5f6368;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.icon-circle-hover:hover {
  background-color: #f1f3f4;
  color: #202124;
}
