<div class="bg-light vh-100 p-3 shadow-sm" [ngStyle]="{ width: isCollapsed ? '80px' : '250px' }"
  style="transition: width 0.3s;">
  <!-- Compose Button -->
  <div class="mb-3 text-center">
    <button class="compose-btn d-flex align-items-center justify-content-center" [ngClass]="{ collapsed: isCollapsed }"
      (click)="openComposeModal()">
      <i class="fa fa-pencil" [ngClass]="{ 'offset-icon': !isCollapsed }"></i>
      <span *ngIf="!isCollapsed">Compose</span>
    </button>

    <app-compose #compose></app-compose>
  </div>

  <!-- Sidebar Menu -->
  <ul class="nav flex-column">
    <li class="sidebar-item" title="Inbox" routerLink="/inbox" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{ collapsed: isCollapsed }">
      <i class="fa-solid fa-inbox" [ngClass]="{ 'offset-icon': !isCollapsed }"></i>
      <span *ngIf="!isCollapsed">Inbox</span>
    </li>

    <li class="sidebar-item" title="Starred" routerLink="/starred" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{ collapsed: isCollapsed }">
      <i class="fa-regular fa-star" [ngClass]="{ 'offset-icon': !isCollapsed }"></i>
      <span *ngIf="!isCollapsed">Starred</span>
    </li>

    <li class="sidebar-item" title="Snoozed" routerLink="/snoozed" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{ collapsed: isCollapsed }">
      <i class="fa-regular fa-clock" [ngClass]="{ 'offset-icon': !isCollapsed }"></i>
      <span *ngIf="!isCollapsed">Snoozed</span>
    </li>

    <li class="sidebar-item" title="Sent" routerLink="/sent" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{ collapsed: isCollapsed }">
      <i class="fa-regular fa-paper-plane" [ngClass]="{ 'offset-icon': !isCollapsed }"></i>
      <span *ngIf="!isCollapsed">Sent</span>
    </li>

    <li class="sidebar-item" title="Drafts" routerLink="/drafts" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{ collapsed: isCollapsed }">
      <i class="fa-regular fa-file" [ngClass]="{ 'offset-icon': !isCollapsed }"></i>
      <span *ngIf="!isCollapsed">Drafts</span>
    </li>
  </ul>
</div>